<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="vendor/bootstrap.min.css">
    <script src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
	{{>header_view}} {{{body}}} {{>footer_view}}
</body>
</html>
