<script src="cloudServices_client_controller.js"></script>
<ol class="breadcrumb">
</ol>
<div class="container">
<div class="table-responsive">
<table class="table table-bordered">
		<thead>
			<tr>
			<th scope="col">Cloud Service Provider</th>
			<th scope="col">Cloud Service Description</th>
			</tr>
		</thead>
		<tbody id="div_body_Clouds"">
		</tbody>
	</table>
</div>
<form>
<div class = "form-row">
        <div class = "col">
                <input type="text" class="form-control" placeholder="Cloud Service ID" id="cloud_seq_id">
        </div>
        <div class = "col">
		<input type="text" class="form-control" placeholder="Cloud Service Provider" id="cloud_name_id">
        </div>
        <div class = "col">
                <input type="text" class="form-control" placeholder="Cloud Service Description" id="cloud_desc_id">
        </div>
</div>
	<button type="submit" class="btn btn-primary mb-2" onclick="addCloud();">Add Cloud</button>
</form>
