<script src="awsServices_client_controller.js"></script>
<ol class="breadcrumb">
	<li><a href="/">HOME</a></li>
	<li> / AWS </li>
</ol>

<div class="content container-fluid">
<div class="container">
	<table>
		<thead>
			<th><h5 align="center">Service Provider</h5>
			<th><h5 align="center">Service Name</h5>
			<th><h5 align="center">Service Description</h5>
		</thead>
		<tbody id="div_body_awsServices">
		</tbody>
	</table>
</div>
</div>
