<html>
	<head><title> {{ title }} </title>
		Example App: Home
	</head>
	<body>
		<div class="container-fluid">
		<h1>my first</h1>
		<p>This is body of html home page</p>
  <h2>Button</h2>
  <p>The .btn class adds basic styling to a button:</p>
  <button type="button" class="btn">Basic Button</button>
</div>
	<a href='/about'>link to about </a>
	</body>
</html>


